@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

body {
  font-family: "Roboto Slab", serif;
  background: #f3f4f6;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  color: #333333;
  margin-bottom: 20px;
}
.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
}
#add-task-btn {
  padding: 10px;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
#add-task-btn:hover {
  background: #0056b3;
}
#task-list {
  list-style: none;
  padding: 0px;
}
.task-item {
  background: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item.completed {
  text-decoration: line-through;
  color: #6c757d;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.delete-btn:hover {
  background: #971d2a;
}
